.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Editando Contacto:
      = @mpresa.nil? ? @empresa.denominacion : nil
      %i.fa.fa-bars
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Contactos Registrados', contactos_path
      %li
        Edición de Contacto
.wrapper.wrapper-content.animated.fadeInRight
  - if @empresa.nil?
    .ibox-content.text-center
      %h3.font-bold No se encuentra una empresa ingresada
      .error-desc
        Asegurese de ingresar una empresa.
  -else
    -if @empresa.es_iglesia?
      = render 'form_contacto_con_iglesia'
    -else
      = render 'form_contacto_sin_iglesia'
