.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-5
              %table.table.table-striped.table-bordered.table-condensed
                %tbody
                  %tr
                    %td.text-right
                      %strong Nombres:
                    %td
                      = @contacto.nombres
                  %tr
                    %td.text-right
                      %strong Apellidos:
                    %td
                      = @contacto.apellidos
                  %tr
                    %td.text-right
                      %strong Doc. de Identidad:
                    %td
                      = @contacto.doc_identidad
                  %tr
                    %td.text-right
                      %strong Email:
                    %td
                      = @contacto.email
                  %tr
                    %td.text-right
                      %strong Telefono:
                    %td
                      = @contacto.telefono
                  %tr
                    %td.text-right
                      %strong País:
                    %td
                      = @contacto.estado.pais.nombre
                  %tr
                    %td.text-right
                      %strong Estado:
                    %td
                      - if @contacto.estado_id.nil?
                        = "No Aplica"
                      - else
                        = @contacto.estado.nombre
                  %tr
                    %td.text-right
                      %strong Profesion:
                    %td
                      = @contacto.profesion.nombre
                  %tr
                    %td.text-right
                      %strong Ministerio:
                    %td
                      - if @contacto.ministerio.nil?
                        = "No Aplica"
                      - else
                        = @contacto.ministerio.nombre
          .row
            .col-sm-3
              -#= link_to contactos_path, class: 'btn btn-default' do
              -#  %i.fa.fa-arrow-left
              -#  Regresar
            .col-sm-3
              = link_to({controller: "contactos", action: "edit_contacto", id: @contacto.id, em: @empresa.id}, {class: 'btn btn-primary btn-responsive'}) do
                Editar el Contacto
                %i.fa.fa-edit