.row
  .col-lg-12
    .ibox.float-e-margins
      .ibox-content
        .row
          .col-md-12
            = form_for :validar_pago, url: validar_pago_evento_path, method: :post, id: '' do |f|
              .table-responsive
                %table.table.table-striped.table-bordered.table-hover.datatable-table
                  %thead.blue-bg
                    %tr
                      %th Nombres
                      %th Apellidos
                      %th Teléfono
                      %th E-mail
                      %th País
                      %th Estado
                      %th Ministerio
                      %th Fecha
                      %th Status
                      %th Nro. de Pago
                      %th Monto
                      %th Acciones
                  %tbody
                    - @pagos_evento.each do |pago|
                      %tr
                        %td= pago.contacto.nombres
                        %td= pago.contacto.apellidos
                        %td= pago.contacto.telefono
                        %td= pago.contacto.email
                        %td= pago.contacto.pais.nombre
                        - if pago.contacto.estado_id.nil?
                          %td= "No Aplica"
                        - else
                          %td= pago.contacto.estado.nombre
                        %td= pago.contacto.ministerio.nombre
                        %td= pago.fecha_pago.strftime('%d-%m-%Y')
                        - if pago.pago_validado
                          %td= "Validado"
                        - else
                          %th= "Por Validar"
                        %td= pago.nro_pago
                        %td= pago.monto
                        %td.text-center
                          = link_to(controller: "pago_eventos", action: "validar_pago", id: pago.id )  do
                            Validar
                            %i.fa.fa-pencil-square-o
              .row
                .col-md-2.col-md-offset-8
                  = link_to 'Regresar', root_path, class: 'btn btn-info btn-block'