.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Validación de Pagos:
      = @evento.present? ? @evento.nombre : nil
      %i.fa.fa-bars
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Pagos Realizados:
        = @estadisticas[0]+@estadisticas[1]
      %li
        Pagos Validados:
        = @estadisticas[0]
      %li
        Pagos Por Validar:
        = @estadisticas[1]
      %li
        Monto Total:
        = @estadisticas[2]
.wrapper.wrapper-content.animated.fadeInRight
  = render 'table_pago_eventos', object: @pagos_evento