.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      %i.fa.fa-home
      Validar Pagos
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li.active
        %strong
          Validar Pagos
.wrapper.wrapper-content.animated.fadeInRight
  .row.form-horizontal
    = form_tag({:controller => 'pago_eventos', :action => 'index'}, :method => 'get') do
      .col-md-10
        .form-group
          = label_tag :evento_id, class: 'col-sm-4 control-label' do
            Evento:
          .col-sm-8
            = select_tag :evento_id, options_for_select(@eventos.collect { |p| [p.nombre, p.id]}), {include_blank: 'Seleccione', class: 'form-control', id: 'evento_id'}
      %br/
      %br/
      .row
        .col-sm-2.col-sm-offset-5
          = submit_tag 'Procesar', class: 'btn btn-primary btn-block'