.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-10
    %h2
      %i.fa.fa-tasks
      Eventos
    %ol.breadcrumb
      = render_breadcrumbs
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-5
              %table.table.table-striped.table-bordered.table-condensed
                %tbody
                  %tr
                    %td.text-right
                      %strong Nombre:
                    %td
                      = @evento.nombre

                  %tr
                    %td.text-right
                      %strong Descripcion:
                    %td
                      = @evento.descripcion

                  %tr
                    %td.text-right
                      %strong Fecha inicio:
                    %td
                      = @evento.fecha_inicio

                  %tr
                    %td.text-right
                      %strong Fecha fin:
                    %td
                      = @evento.fecha_fin

                  %tr
                    %td.text-right
                      %strong Nro. Invitados:
                    %td
                      = @evento.num_invitados
                  %tr
                    %td.text-right
                      %strong Lugar:
                    %td
                      = @evento.lugar

                  %tr
                    %td.text-right
                      %strong Horario:
                    %td
                      = @evento.horario
                  %tr
                    %td.text-right
                      %strong Servicios:
                    %td
                      = @evento.servicios

          .row
            .col-sm-3
              = link_to eventos_path, class: 'btn btn-success' do
                %i.fa.fa-arrow-left
                Regresar
            .col-sm-3
              = link_to edit_evento_path(@evento), class: 'btn btn-primary' do
                Editar
                %i.fa.fa-edit