.loginColumns.animated.fadeInDown
  .row
    .col-md-6
      %br
      %br
      %h1.small-logo-name E   V   E    N   T   O   S

    .col-md-6
      .ibox-content
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'm-t'}) do |f|
          .form-group
            = f.text_field :username, placeholder: 'Email', class:'form-control', required: ''
          .form-group
            = f.password_field :password, autocomplete: "off", placeholder: "Contraseña", class: 'form-control', required: ''
          .form-group
            - if devise_mapping.rememberable?
              = f.check_box :remember_me
              = f.label :remember_me, 'Mantener Conectado'
          = f.submit 'Entrar', class: 'btn btn-primary block full-width m-b'
          -#%button.btn.btn-primary.block.full-width.m-b{:type => "submit"} Login
          = link_to new_user_password_path, class: 'small' do
            ¿Olvido su contraseña?
