%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav
      %li.nav-header
        .dropdown.profile-element
          %span
            = image_tag current_user.avatar.url || 'logo_eventos_128.png', height: 50, class:'img-circle'
            -#%img.img-circle{:alt => "image", :src => image_url 'profile_small.jpg'}/
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold
                  = current_user.name || current_user.username
              %span.text-muted.text-xs.block
                = current_user.empresa.denominacion rescue 'Empresa'
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              = link_to  profile_path do
                Perfil
            %li.divider
            %li
              = link_to destroy_user_session_path, method: :delete do
                Cerrar Sesión
        .logo-element
          SP
      %li{class: is_active_controller('users/profiles')}
        = link_to profile_path do
          %i.fa.fa-user
          %span.nav-label Perfil
      - if can? :index, Role
        %li{class: is_active_controller('roles')}
          %a{:href => ""}
            %i.fa.fa-key
            %span.nav-label Roles
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('roles')}"}
            - if can? :index, Role
              %li{class: is_active_action('index')}= link_to 'Gestionar Roles', roles_path
            - if can? :new, Role
              %li{class: is_active_action('new')}= link_to 'Nuevo Rol', new_role_path
      - if can? :manage, User
        %li{class: is_active_controller('users/registrations')}
          %a{:href => ""}
            %i.fa.fa-user
            %span.nav-label Usuarios
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('users/registrations')}"}
            %li{class: is_active_action('index')}= link_to 'Gestionar Usuario', users_index_path
            %li{class: is_active_action('new_user')}= link_to 'Nuevo Usuario', users_new_path
      - if can? :manage, Empresa
        %li{class: is_active_controller('empresas')}
          %a{:href => ""}
            %i.fa.fa-building
            %span.nav-label Instituciones
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('empresas')}"}
            %li{class: is_active_action('index')}= link_to 'Gestionar Instituciones',empresas_path
            - if can? :create, Empresa
              %li{class: is_active_action('new')}= link_to 'Nueva Institución', new_empresa_path
      - if can? :manage, :client_users
        %li{class: is_active_controller('users/client_users')}
          %a{:href => ""}
            %i.fa.fa-user
            %span.nav-label Usuarios
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('users/registrations')}"}
            %li{class: is_active_action('index')}= link_to 'Gestionar Usuarios', client_users_path
            %li{class: is_active_action('new_user')}= link_to 'Nuevo Usuario', new_client_user_path
      - if can? :manage, Grupo
        %li{class: is_active_controller('grupos')}
          %a{:href => ""}
            %i.fa.fa-users
            %span.nav-label Grupos
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('grupos')}"}
            %li{class: is_active_action('index')}= link_to 'Gestionar Grupos', grupos_path
            - if can? :create, Grupo
              %li{class: is_active_action('new')}= link_to 'Nuevo Grupo', new_grupo_path
      - if can? :manage, Contacto
        %li{class: is_active_controller('contactos')}
          %a{:href => ""}
            %i.fa.fa-user-plus
            %span.nav-label Contactos
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('contactos')}"}
            %li{class: is_active_action('index')}= link_to 'Gestionar Contactos',contactos_path
            - if can? :create, Contacto
              %li{class: is_active_action('new')}= link_to 'Nuevo Contacto',  new_contacto_path
      - if can? :read, Pais
        %li{class: is_active_controller('paises')}
          %a{:href => ""}
            %i.fa.fa-globe
            %span.nav-label Paises
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('paises')}"}
            %li{class: is_active_action('index')}= link_to 'Gestionar Paises',paises_path
            - if can? :create, Pais
              %li{class: is_active_action('new')}= link_to 'Nuevo País', new_pais_path

      - if can? :manage, Evento
        %li{class: is_active_controller('eventos')}
          %a{:href => ""}
            %i.fa.fa-tasks
            %span.nav-label Eventos
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('eventos')}"}
            %li{class: is_active_action('index')}= link_to 'Gestionar Eventos', eventos_path
            - if can? :create, Evento
              %li{class: is_active_action('new')}= link_to 'Nuevo Evento', new_evento_path
      - if can? :manage, Invitado
        %li{class: is_active_controller('invitados')}
          %a{:href => ""}
            %i.fa.fa-tasks
            %span.nav-label Invitados
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('invitados')}"}
            -#%li{class: is_active_action('index')}= link_to 'Gestionar Invitados', invitados_path
            - if can? :create, Invitado
              %li{class: is_active_action('new')}= link_to 'Crear Lista de  Invitados', new_invitado_path
      - if can? :manage, TipoPlan
        %li{class: is_active_controller('tipo_planes')}
          %a{:href => ""}
            %i.fa.fa-folder-open-o
            %span.nav-label Planes
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('tipo_planes')}"}
            %li{class: is_active_action('index')}= link_to 'Gestionar Planes', tipo_planes_path
            - if can? :create, TipoPlan
              %li{class: is_active_action('new')}= link_to 'Nuevo Plan', new_tipo_plan_path

      - if can? :manage, InscripcionEvento
        %li{class: is_active_controller('inscripcion_eventos')}
          %a{:href => ""}
            %i.fa.fa-calendar
            %span.nav-label Inscripciones del Evento
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('inscripcion_eventos')}"}
            %li{class: is_active_action('index_consulta_eventos')}= link_to 'Aprobar Preinscripciones', inscripcion_path(accion: 'index')
            %li{class: is_active_action('index_consulta_eventos')}= link_to 'Gestionar Inscripciones', inscripcion_path(accion: 'ver_inscripciones')
            %li{class: is_active_action('estadisticas_inscripciones')}= link_to 'Estadísticas', estadisticas_inscritos_path
            -#%li{class: is_active_action('index')}= link_to 'Aprobar Preinscripciones',inscripcion_eventos_path
            -#%li{class: is_active_action('ver_inscripciones')}= link_to 'Gestionar Inscripciones', ver_inscritos_path
            -#%li{class: is_active_action('estadisticas_inscripciones')}= link_to 'Estadísticas', estadisticas_inscritos_path
        %li{class: is_active_controller('pago_eventos')}
          %a{:href => ""}
            %i.fa.fa-money
            %span.nav-label Validación de Pagos
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('pago_eventos')}"}
            %li{class: is_active_action('index_consulta_eventos')}= link_to 'Validar Pagos', consultar_pago_evento_path
            -#%li{class: is_active_action('index')}= link_to 'Validar Pagos', pago_eventos_index_path
      - if can? :manage, Contenido
        %li{class: is_active_controller('contenido')}
          %a{:href => ""}
            %i.fa.fa-upload
            %span.nav-label Contenido
            %span.fa.arrow
          %ul{:class => "nav nav-second-level #{is_active_controller('contenido')}"}
            %li{class: is_active_action('index')}= link_to 'Gestionar Contenido', contenidos_path
            - if can? :create, Contenido
              %li{class: is_active_action('new')}= link_to 'Nuevo Contenido', new_contenido_path
            - if can? :contenido_eventos, Contenido
              %li{class: is_active_action('new')}= link_to 'Reproducir Contenido', index_contenido_eventos_path  

