#autocompletar
  .row
    .col-md-12
      .row
        = hidden_field_tag :evento, @evento.id
        .col-md-4
          = label_tag :contacto_nombres, class: 'col-sm-4 text-right control-label' do
            Contactos:
            %span.fa.fa-asterisk.red
          .col-sm-8
            = autocomplete_field_tag :contacto_nombres, '', autocomplete_contactos_invitados_invitados_path, class:'form-control'
        .col-md-2
          = button_tag 'Agregar Invitado', class: 'btn btn-primary btn-responsive btn-block', id: 'btn_agregar'
      .row
        %div#div_table_resultados{style:'display:none;'}
          = render 'table_agregar_contactos'
      %br/
      .row
        #btn_guardar
          .col-md-10
          .col-md-2
            = button_tag  'Guardar Invitados', class: 'btn btn-primary btn-responsive btn-block', id: 'btn_guardar_invitados'
